.App {
  text-align: center;
}

#references{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  color: black;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

textarea {
  width: 800px;
  height: 100px;
}